@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-image: linear-gradient(to bottom right, black, #650859);
  display: grid;
  gap: 60px;
  justify-items: center;
  margin-top: 60px;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

header {
  position: fixed;
  top: 0;
  padding-top: 1rem;
  padding-inline: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

header img {
  width: 5rem;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.menu {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.menu li {
  list-style: none;
}
.menu a {
  text-decoration: none;
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  color: white;
  border: 2px solid transparent;
}

.menu a:hover {
  background-color: #7522a2;
  border: 2px solid transparent;
}

.pessoa {
  position: absolute;
  width: 37rem;
  bottom: 0;
  right: 3rem;
}

.pontos {
  position: absolute;
  top: 0;
  right: 0;
  width: 8rem;
  margin-right: 2rem;
}

.pontos-esquerda {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 8rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

section {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

section h1 {
  font-size: 5rem;
  color: white;
}

button {
  gap: 1rem;
  border: 2px solid #650859;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  background-color: transparent;
}

button:hover {
  background-color: #650859;
  border: 2px solid transparent;
}

p {
  font-size: 0.9rem;
  font-family: "Montserrat", sans-serif;
  width: 70%;
  color: white;
  margin-top: 0.8rem;
}
